body {
    background-color: black;
    font-family: Verdana;
}

h1 {
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

p.link {
    color: aquamarine;
    font-size: 16px;
}

p {
    text-align: center;
    font-size: 21;
    color: gray;
}

figure {
    text-align: center;
}

h2 {
    text-align: center;
    color: white;
    font-weight: 300;
    font-size: 42px;
}

footer p {
    text-align: right;
}